.Our-member{
    padding: 50px 0px;
}
.team_top{
    margin-bottom: 50px;
}
.team_top h1{
    text-transform: uppercase;
    color: #00cdcd;
    font-size: 60px;
    font-weight: 700;
}
.team_top p{
    font-size: 18px;
    font-weight: 500;
    max-width: 750px;
    margin: 0 auto;
}
.single-member {
    padding: 10px;
    float: left;
    text-align: center;
    position: relative;
    padding-bottom: 60px;
}
.single-member img{
    width: 150px;
}
.m_text h3{
    font-weight: 800;
    font-size: 22px;
    margin-top: 20px;
    color: #00cdcd;
}
.m_text h5{
    font-size: 18px;
    margin-bottom: 20px;
}
.m_text p{
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
.m_menu{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    background: #fff;
    padding: 10px;
    opacity: 0;
}
.m_menu ul{
    margin-bottom: 0px;
}
.m_menu ul li a i{
    color: #F2CE5F;
}
.m_menu ul li a{
    display: block;
    padding: 7px;
    font-size: 18px;
}
.single-member:hover .m_menu{
    opacity: 1;
    bottom: -5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
.single-member:hover .m_text h3{
    color: #F2CE5F;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
.owl-carousel{
    display: inline-block;
}
.owl-dots {
    position: absolute;
    left: 48%;
    margin: 0 auto;
}
.owl-carousel button.owl-dot {
    background-color: #00CDCD; 
    height: 10px; 
    width: 10px; 
    border-radius: 10px; 
    opacity: 0.4;
    margin: 3px;
}
button.owl-dot.active { 
    opacity: 1 !important;
}